@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; list-style:none; outline:none; border:0; background:none;}
body{font-family:"微软雅黑"; font-size:14px; }
a:link,a:visited{ text-decoration:none; color:#fff; font-size:16px;}
/* head */
#header{
	width:100%; 
	height:128px; 
	background:url(../images/head_bg.jpg) repeat-x; 
	border-bottom:3px solid #d5d5d5;
}
.nav{
	width:980px; 
	margin:0 auto;
	}
.logo{width: 20; height: 100;}
li{float:left;}
li a{
	display:inline-block; 
	height:91px; 
	width:119px; 
	text-align:center; 
	line-height:70px;
}
li a:hover{background:url(../images/xuanfu.png) center center;}
#head{
	width:980px; 
	height:70px;
	margin:0 auto; 
	padding-top:20px;
}
#nav_bg{
	width:100%; 
	height:48px; 
	background:#11E356;
}
.nav{
	width:980px; 
	margin:0 auto;
}
.nav li{float: left;}
a{
	display:inline-block; 
	height:48px; 
	padding:0 50px; 
	line-height:48px; 
}
.bg{background:#11E356;}
a:hover{background:#11E356；}
/* banner */
#banner{
	width:980px; 
	margin:0 auto;
}
/* content */
#content{
	width:830px; 
	height:934px; 
	background:url( ../../../../../../仿青春树儿童摄影网/图片/milky-way-2695569__340.jpg) repeat; 
	margin:0 auto; 
	padding-left:150px;
}
.step{
	width:454px; 
	height:80px; 
	font-size:20px; 
	font-weight:100; 
	color:#2138ED; 
	background:url( ../images/图片3.png) center right no-repeat; 
	line-height:80px;
}
h3{
	width:444px; 
	height:45px; 
	font-size:20px; 
	font-weight:100; 
	color:#2138ED; 
	line-height:45px; 
	border-bottom:1px solid #2138ED;
}
td{ 
	height:50px; 
	color:#2138ED;
}
.left{
	width:120px; 
	text-align:right;
}
.right{
	width:320px; 
	height:28px; 
	border:1px solid #2138ED;
}
input{vertical-align:middle;}
select{
	width:171px; 
	border:1px solid #2138ED; 
	color:#2138ED;
}
textarea{
	width:380px; 
	border:1px solid #2138ED; 
	resize:none; 
	font-size:12px; 
	color:#aaa; 
	padding:20px;
}
.btn{
	width:408px; 
	height:76px; 
	background:url( ../images/图片4.png) right center no-repeat;
}
/* footer */
#footer{
	width:100%; 
	height:68px;
	line-height:26px;
	background:#fe668f; 
	color:#fff; 
	text-align:center;
	padding-top:40px; 
}












